<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="MasterPage.Master.cs" Inherits="testing.Site1" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <asp:ContentPlaceHolder id="head" runat="server">
    </asp:ContentPlaceHolder>
    <meta charset="utf-8" />
  <meta content="width=device-width, initial-scale=1.0" name="viewport" />

  <title>Akashayina Funeral Palour</title>
  <meta content="" name="description" />
  <meta content="" name="keywords" />

  <!-- Favicons -->
  <link href="css/Sailor/assets/img/favicon.png" rel="icon" />
  <link href="css/Sailor/assets/img/apple-touch-icon.png" rel="apple-touch-icon" />

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="css/Sailor/assets/vendor/animate.css/animate.min.css" rel="stylesheet" />
  <link href="css/Sailor/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
  <link href="css/Sailor/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet" />
  <link href="css/Sailor/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet" />
  <link href="css/Sailor/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet" />
  <link href="css/Sailor/assets/vendor/remixicon/remixicon.css" rel="stylesheet" />
  <link href="css/Sailor/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet" />

  <!-- Template Main CSS File -->
  <link href="css/Sailor/assets/css/style.css" rel="stylesheet" />

  <!-- =======================================================
  * Template Name: Sailor - v4.1.0
  * Template URL: https://bootstrapmade.com/sailor-free-bootstrap-theme/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="css/yamifood/css/bootstrap.min.css" />   
	<!-- Site CSS -->
    <link rel="stylesheet" href="css/yamifood/css/style.css" />    
    <!-- Responsive CSS -->
    <link rel="stylesheet" href="css/yamifood/css/responsive.css" />
    <!-- Custom CSS -->
    <link rel="stylesheet" href="css/yamifood/css/custom.css" />
    <link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css" />
</head>
<body>
    <form id="form1" runat="server">
    <div>
        <asp:ContentPlaceHolder id="ContentPlaceHolder1" runat="server">
       
        </asp:ContentPlaceHolder>
    </div>
          <!-- ======= Header ======= -->
  <header id="header" class="fixed-top d-flex align-items-center">
    <div class="container d-flex align-items-center">

      <h1 class="logo me-auto"><a href="homepage.aspx">AKASHIYANI FUNERAL PALOUR</a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html" class="logo me-auto"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

      <nav id="navbar" class="navbar">
        <ul>
		  <li>
		  <a href="#" >
		   <asp:Label ID="username" runat="server"></asp:Label>
		  </a>
		  </li>
          <li><a href="homepage.aspx" class="active">Home</a></li>
          <li><a href="AboutUs.aspx"><span>About us</span></a></li>
          <li><a href="Premium.aspx">Premiums</a></li>
          <li><a href="">Contact</a></li>
		  <asp:LinkButton ID="LinkButton1" runat="server" PostBackUrl="~/Login.aspx">Login/Register</asp:LinkButton>
		  <asp:LinkButton ID="LinkButton2" runat="server" Visible="false" PostBackUrl="~/LogOut.aspx">LogOut</asp:LinkButton>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->
  <br /><br />
     <!-- Start Contact info -->
	<div class="contact-imfo-box">
		<div class="container">
			<div class="row">
				<div class="col-md-4">
					<i class="fa fa-volume-control-phone"></i>
					<div class="overflow-hidden">
						<h4>Phone</h4>
						<p class="lead">
							+27 13-456-4590
						</p>
					</div>
				</div>
				<div class="col-md-4">
					<i class="fa fa-envelope"></i>
					<div class="overflow-hidden">
						<h4>Email</h4>
						<p class="lead">
							yourmail@gmail.com
						</p>
					</div>
				</div>
				<div class="col-md-4">
					<i class="fa fa-map-marker"></i>
					<div class="overflow-hidden">
						<h4>Location</h4>
						<p class="lead">
							800, Lorem Street, 
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- End Contact info -->
	<!-- Start Footer -->
	<footer class="footer-area bg-f">
		<div class="container">
			<div class="row">
				<div class="col-lg-3 col-md-6">
					<h3>Information</h3>
					<ul class="listing">
						<li ><a href="#">Premium packages</a></li>
						<li ><a href="">Trading hours</a></li>
						<li ><a href="contact us.aspx">Contact us</a></li>
						<li ><a href="#">Terms and conditions</a></li>
					</ul>
				</div>
                <div class="col-lg-3 col-md-6">
					<h3>Products</h3>
					<ul class="listing">
						<li ><a href="#">Caskets & coffins</a></li>
						<li ><a href="#">Family cars & hearse</a></li>
						<li ><a href="#">Gravesite preparations</a></li>
                        <li ><a href="#">Name boards</a></li>
                        <li ><a href="#">Program design</a></li>
					</ul>
				</div>
                <div class="col-lg-3 col-md-6">
					<h3>Join us</h3>
					<ul class="listing">
						<li ><a href="">Become a member</a></li>
						<li ><a href="about us.aspx">About us</a></li>
					</ul>
				</div>
				<div class="col-lg-3 col-md-6">
					<h3>My account</h3>
					<ul class="listing">
						<li ><a href="#">My account</a></li>
						<li ><a href="#">Personal information</a></li>
                        <li ><a href="#">Update my policies</a></li>
					</ul>
				</div>
			</div>
		</div>
		
		<div class="copyright">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<p class="company-name">AKASHIYANI.</p>
					</div>
				</div>
			</div>
		</div>
		
	</footer>
	<!-- End Footer -->

	<!-- ALL JS FILES -->
	<script src="css/yamifood/js/jquery-3.2.1.min.js" type="text/javascript"></script>
	<script src="css/yamifood/js/popper.min.js" type="text/javascript"></script>
	<script src="css/yamifood/js/bootstrap.min.js" type="text/javascript"></script>
    <!-- ALL PLUGINS -->
	<script src="css/yamifood/js/jquery.superslides.min.js" type="text/javascript"></script>
	<script src="css/yamifood/js/images-loded.min.js" type="text/javascript"></script>
	<script src="css/yamifood/js/isotope.min.js" type="text/javascript"></script>
	<script src="css/yamifood/js/baguetteBox.min.js" type="text/javascript"></script>
	<script src="css/yamifood/js/form-validator.min.js" type="text/javascript"></script>
    <script src="css/yamifood/js/contact-form-script.js" type="text/javascript"></script>
    <script src="css/yamifood/js/custom.js" type="text/javascript"></script>
      <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script type="text/javascript" src="css/Sailor/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script type="text/javascript" src="css/Sailor/assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script type="text/javascript" src="css/Sailor/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script type="text/javascript" src="css/Sailor/assets/vendor/php-email-form/validate.js"></script>
  <script type="text/javascript" src="css/Sailor/assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script type="text/javascript" src="css/Sailor/assets/vendor/waypoints/noframework.waypoints.js"></script>

  <!-- Template Main JS File -->
  <script type="text/javascript" src="css/Sailor/assets/js/main.js"></script>
    </form>
</body>
</html>
